In [1]:
# import required libraries
import numpy as np
import pandas as pd

In [4]:
# reading the dataset
df_data = pd.read_csv(r'C:\Users\user\Desktop\Vinni study folder\my python notebooks\practice datasets\pima-indians-diabetes.data',header=None)

In [5]:
# view top 5
df_data.head(5)

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [9]:
# fixing the column names to dataset
column = ['pregnant','glucose','bp','skin','insulin','bmi','pedigree','age','label']
df_data.columns = column

In [10]:
df_data.head()

   pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

In [11]:
df_data.shape

(768, 9)

In [12]:
# creating the feature and response objects
feature_cols = ['pregnant','glucose','bp','skin','insulin','bmi','pedigree','age']
X = df_data[feature_cols]
Y = df_data['label']

In [13]:
# importing train test split
from sklearn.model_selection import train_test_split

In [14]:
# splitting the data into train and test
X_train , X_test , Y_train , Y_test = train_test_split(X,Y,test_size = 0.3)

In [19]:
# shape of training dataset
X.shape

(768, 8)

In [20]:
# shape of test dataset
Y.shape

(768,)

In [15]:
# importing the logistic regression model
from sklearn.linear_model import LogisticRegression

In [16]:
# creating object for logistic regression
logreg = LogisticRegression()
logreg

LogisticRegression()

In [18]:
# training the model with training dataset
logreg.fit(X_train,Y_train)

C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [21]:
# predicting results for test dataset
y_pred = logreg.predict(X_test)

In [22]:
y_pred

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0], dtype=int64)

In [26]:
# checking Accuracy of model( use metrics method for logistic regression/classification)
from sklearn import metrics
metrics.accuracy_score(Y_test,y_pred)

0.7619047619047619

In [28]:
# showing comparison of the first 30 actual n predicted results.
print('true:',Y_test.values[0:30])
print()
print('predicted:',y_pred[0:30])

true: [1 0 0 0 1 1 0 1 0 0 0 1 1 1 1 0 0 0 1 1 0 1 1 0 1 1 1 1 1 0]

predicted: [0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 1 1 0 0 1 0 1 0 1 0 1 1 0]